<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增人员基本信息管理')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-archivesUserInfo-add">
            <input name="deptId" type="hidden" id="treeId"/>
            <div class="form-group">    
                <label class="col-sm-1 control-label" style="width:8%">姓名</label>
                <div class="col-sm-2" style="width:22%">
                    <input name="personName" class="form-control" type="text">
                </div>
            <!--</div>-->
            <!--<div class="form-group">    -->
                <label class="col-sm-1 control-label" style="width:10%">性别</label>
                <div class="col-sm-3" style="width:22%">
                    <select name="sex" class="form-control m-b" th:with="type=${@dict.getType('sys_user_sex')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            <!--</div>-->
            <!--<div class="form-group">-->
                <label class="col-sm-1 control-label" style="width:13%">出生年月日</label>
                <div class="col-sm-3" style="width:22%">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control" id="birthday" name="birthday" placeholder="yyyy-MM-dd">
                    </div>
                </div>

            </div>
            <div class="form-group">    
                <label class="col-sm-1 control-label" style="width:8%">民族</label>
                <div class="col-sm-2" style="width:22%">
                    <select name="nation" class="form-control m-b" th:with="type=${@dict.getType('sys_nation')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
                <label class="col-sm-1 control-label" style="width:10%">籍贯</label>
                <div class="col-sm-3" style="width:22%">
                    <input name="nativePlace" class="form-control" type="text">
                </div>
                <label class="col-sm-1 control-label" style="width: 13%">出生地</label>
                <div class="col-sm-3" style="width:22%">
                    <input name="birthplace" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1" style="width:8%">入党时间</label>
                <div class="col-sm-2" style="width:22%">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="joinPartyTime" id="joinPartyTime" class="form-control" type="text" placeholder="yyyy-MM-dd">
                    </div>
                </div>
                <label class="col-sm-1" style="width:10%">参加工作时间</label>
                <div class="col-sm-3" style="width:22%">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control" id="workTime" name="workTime" placeholder="yyyy-MM-dd">
                    </div>
                </div>
                <label class="col-sm-1 control-label" style="width: 13%">健康状况</label>
                <div class="col-sm-3" style="width:22%">
                    <input name="health" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group" style="margin-top: 20px">
                <label class="col-sm-1 control-label" style="width:15%">专业技术职务</label>
                <div class="col-sm-4">
                    <input name="technicalPosition" class="form-control" type="text">
                </div>
                <label class="col-sm-1 control-label" style="width:16%">熟悉专业有何特长</label>
                <div class="col-sm-4">
                    <input name="specialty" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label" style="width: 15%">全日制教育学历学位</label>
                <div class="col-sm-4">
                    <input name="fullTimeEduBack" class="form-control" type="text">
                </div>
                <label class="col-sm-1 control-label" style="width: 16%">毕业院校系及专业</label>
                <div class="col-sm-4">
                    <input name="fullTimeMajor" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label" style="width: 15%">在职教育学历学位</label>
                <div class="col-sm-4">
                    <input name="inServiceEduBack" class="form-control" type="text">
                </div>
                <label class="col-sm-1 control-label" style="width: 16%">毕业院校系及专业</label>
                <div class="col-sm-4">
                    <input name="inServiceMajor" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label" style="width:15%">兰底彩色照片</label>
                <div class="col-sm-2">
                    <img id="startCollection" width="50px" height="50px" src="/img/jiahao2.png">
                    <!--<img id="startCollection" width="50px" height="50px" src="C:/Users/ADMINI~1.SKY/AppData/Local/Temp/temp6269889950476529241.jpeg">-->
                </div>
                <input name="cause" id="imgUrl" class="form-control" type="hidden">
            </div>

            <div class="form-group">
                <label class="col-sm-1" style="width: 15%">现任职务</label>
                <div class="col-sm-9" style="width: 83%">
                    <input name="duty" class="form-control" type="text">
                    <!--<input name="duty" class="form-control" type="text">-->
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1" style="width: 15%">拟任职务</label>
                <div class="col-sm-9" style="width: 83%">
                    <input name="proposedDuty" class="form-control" type="text">
                    <!--<input name="proposedDuty" class="form-control" type="text">-->
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1" style="width: 15%">拟免职务</label>
                <div class="col-sm-9" style="width: 83%">
                    <input name="proposedRemoval" class="form-control" type="text">
                    <!--<input name="proposedRemoval" class="form-control" type="text">-->
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1" style="width: 15%">简历</label>
                <div class="col-sm-4" style="width: 83%">
                    <textarea rows="3" class="form-control" disabled="disabled" name="resume"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1" style="width: 15%">奖惩情况</label>
                <div class="col-sm-9" style="width: 83%">
                    <input name="bonusPenalty" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1" style="width: 15%">年度考核结果</label>
                <div class="col-sm-9" style="width: 83%">
                        <input name="assessmentResults" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1" style="width: 15%">任免理由</label>
                <div class="col-sm-9" style="width: 83%">
                    <input name="reasons" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label" style="width: 27%">家庭主要成员及重要社会关系</label>
            </div>
            <div class="form-group">
                <label class="col-sm-1" style="width: 15%"></label>
                <div class="col-sm-4" style="width: 83%">
                    <textarea class="form-control" disabled="disabled" rows="3" name="relatives"></textarea>
                </div>
            </div>
            <div style="display: none">
            <div class="form-group">
                <label class="col-sm-1" style="width: 12%"></label>
                <div style="display: none;">
                <div class="col-sm-1" style="width: 12%">
                    <input name="relativesCall1" class="form-control" type="text" placeholder="称谓">
                </div>
                <div class="col-sm-1" style="width: 12%">
                    <input name="relativesName1" class="form-control" type="text" placeholder="姓名">
                </div>
                <div class="col-sm-3">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control" id="relativesBirth1" name="relativesBirth1" placeholder="出生日期">
                    </div>
                </div>
                <div class="col-sm-1" style="width: 15%">
                    <select name="relativesPolitical1" class="form-control m-b" th:with="type=${@dict.getType('political_outlook')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <input name="relativesWork1" class="form-control" type="text" placeholder="工作单位及职务">
                </div>
            </div>

            <div class="form-group">
                <!--<label class="col-sm-1 control-label" style="width: 11%"></label>-->
                <div class="col-sm-1" style="width: 12%">
                    <input name="relativesCall2" class="form-control" type="text" placeholder="称谓">
                </div>
                <div class="col-sm-1" style="width: 12%">
                    <input name="relativesName2" class="form-control" type="text" placeholder="姓名">
                </div>
                <div class="col-sm-3">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control" id="relativesBirth2" name="relativesBirth2" placeholder="出生日期">
                    </div>
                </div>
                <div class="col-sm-1" style="width: 15%">
                    <select name="relativesPolitical2" class="form-control m-b" th:with="type=${@dict.getType('political_outlook')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <input name="relativesWork2" class="form-control" type="text" placeholder="工作单位及职务">
                </div>
            </div>
            <div class="form-group">
                <!--<label class="col-sm-1 control-label" style="width: 11%"></label>-->
                <div class="col-sm-1" style="width: 12%">
                    <input name="relativesCall3" class="form-control" type="text" placeholder="称谓">
                </div>
                <div class="col-sm-1" style="width: 12%">
                    <input name="relativesName3" class="form-control" type="text" placeholder="姓名">
                </div>
                <div class="col-sm-3">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control" id="relativesBirth3" name="relativesBirth3" placeholder="出生日期">
                    </div>
                </div>
                <div class="col-sm-1" style="width: 15%">
                    <select name="relativesPolitical3" class="form-control m-b" th:with="type=${@dict.getType('political_outlook')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <input name="relativesWork3" class="form-control" type="text" placeholder="工作单位及职务">
                </div>
            </div>
            <div class="form-group">
                <!--<label class="col-sm-1 control-label" style="width: 11%"></label>-->
                <div class="col-sm-1" style="width: 12%">
                    <input name="relativesCall4" class="form-control" type="text" placeholder="称谓">
                </div>
                <div class="col-sm-1" style="width: 12%">
                    <input name="relativesName4" class="form-control" type="text" placeholder="姓名">
                </div>
                <div class="col-sm-3">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control" id="relativesBirth4" name="relativesBirth4" placeholder="出生日期">
                    </div>
                </div>
                <div class="col-sm-1" style="width: 15%">
                    <select name="relativesPolitical4" class="form-control m-b" th:with="type=${@dict.getType('political_outlook')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <input name="relativesWork4" class="form-control" type="text" placeholder="工作单位及职务">
                </div>
            </div>
            <div class="form-group">
                <!--<label class="col-sm-1 control-label" style="width: 11%"></label>-->
                <div class="col-sm-1" style="width: 12%">
                    <input name="relativesCall5" class="form-control" type="text" placeholder="称谓">
                </div>
                <div class="col-sm-1" style="width: 12%">
                    <input name="relativesName5" class="form-control" type="text" placeholder="姓名">
                </div>
                <div class="col-sm-3">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control" id="relativesBirth5" name="relativesBirth5" placeholder="出生日期">
                    </div>
                </div>
                <div class="col-sm-1" style="width: 15%">
                    <select name="relativesPolitical5" class="form-control m-b" th:with="type=${@dict.getType('political_outlook')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <input name="relativesWork5" class="form-control" type="text" placeholder="工作单位及职务">
                </div>
            </div>
            <div class="form-group">
                <!--<label class="col-sm-1 control-label" style="width: 11%"></label>-->
                <div class="col-sm-1" style="width: 12%">
                    <input name="relativesCall6" class="form-control" type="text" placeholder="称谓">
                </div>
                <div class="col-sm-1" style="width: 12%">
                    <input name="relativesName6" class="form-control" type="text" placeholder="姓名">
                </div>
                <div class="col-sm-3">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control" id="relativesBirth6" name="relativesBirth6" placeholder="出生日期">
                    </div>
                </div>
                <div class="col-sm-1" style="width: 15%">
                    <select name="relativesPolitical6" class="form-control m-b" th:with="type=${@dict.getType('political_outlook')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <input name="relativesWork6" class="form-control" type="text" placeholder="工作单位及职务">
                </div>
            </div>
            <div class="form-group">
                <!--<label class="col-sm-1 control-label" style="width: 11%"></label>-->
                <div class="col-sm-1" style="width: 12%">
                    <input name="relativesCall7" class="form-control" type="text" placeholder="称谓">
                </div>
                <div class="col-sm-1" style="width: 12%">
                    <input name="relativesName7" class="form-control" type="text" placeholder="姓名">
                </div>
                <div class="col-sm-3">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control" id="relativesBirth7" name="relativesBirth7" placeholder="出生日期">
                    </div>
                </div>
                <div class="col-sm-1" style="width: 15%">
                    <select name="relativesPolitical7" class="form-control m-b" th:with="type=${@dict.getType('political_outlook')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <input name="relativesWork7" class="form-control" type="text" placeholder="工作单位及职务">
                </div>
            </div>
            <div class="form-group">
                <!--<label class="col-sm-1 control-label" style="width: 11%"></label>-->
                <div class="col-sm-1" style="width: 12%">
                    <input name="relativesCall8" class="form-control" type="text" placeholder="称谓">
                </div>
                <div class="col-sm-1" style="width: 12%">
                    <input name="relativesName8" class="form-control" type="text" placeholder="姓名">
                </div>
                <div class="col-sm-3">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control" id="relativesBirth8" name="relativesBirth8" placeholder="出生日期">
                    </div>
                </div>
                <div class="col-sm-1" style="width: 15%">
                    <select name="relativesPolitical8" class="form-control m-b" th:with="type=${@dict.getType('political_outlook')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <input name="relativesWork8" class="form-control" type="text" placeholder="工作单位及职务">
                </div>
            </div>
            <div class="form-group">
                <!--<label class="col-sm-1 control-label" style="width: 11%"></label>-->
                <div class="col-sm-1" style="width: 12%">
                    <input name="relativesCall9" class="form-control" type="text" placeholder="称谓">
                </div>
                <div class="col-sm-1" style="width: 12%">
                    <input name="relativesName9" class="form-control" type="text" placeholder="姓名">
                </div>
                <div class="col-sm-3">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control" id="relativesBirth9" name="relativesBirth9" placeholder="出生日期">
                    </div>
                </div>
                <div class="col-sm-1" style="width: 15%">
                    <select name="relativesPolitical9" class="form-control m-b" th:with="type=${@dict.getType('political_outlook')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <input name="relativesWork9" class="form-control" type="text" placeholder="工作单位及职务">
                </div>
            </div>
            </div>
            </div>


            <div class="form-group">    
                <label class="col-sm-1 control-label" style="width:15%">工作单位</label>
                <div class="col-sm-4">
                    <input name="workUnit" class="form-control" type="text">
                </div>
            <!--</div>-->

            <!--<div class="form-group">    -->
                <label class="col-sm-1 control-label" style="width:16%">身份证号</label>
                <div class="col-sm-4">
                    <input name="idCard" class="form-control" type="text">
                </div>
            </div>
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">管理类别：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="manageCategory" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
            <div class="form-group" style="margin-top:25px">
                <label class="col-sm-1 control-label" style="width:15%">人员类别</label>
                <div class="col-sm-4">
<!--                    <input name="personCategory" class="form-control" type="text">-->
                    <select name="personCategory" class="form-control m-b" th:with="type=${@dict.getType('person_category')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            <!--</div>-->
            <!--<div class="form-group">    -->
                <label class="col-sm-1 control-label" style="width:16%">编制类型</label>
                <div class="col-sm-4">
<!--                    <select name="preparationType" class="form-control m-b">-->
<!--                        <option value="">所有</option>-->
<!--                    </select>-->
                    <select name="preparationType" class="form-control m-b" th:with="type=${@dict.getType('preparation_type')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">职位类别：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="positionCategory" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">现职务层次：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="jobLevel" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">任现职务层次时间：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="jobLevelTime" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">现职级：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="currentLevel" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">任现职级时间：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="currentLevelTime" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">任相当层次职务职级时间：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="quiteTime" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">公务员登记时间：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="registerTime" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">状态：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <div class="radio-box">-->
<!--                        <input type="radio" name="status" value="">-->
<!--                        <label th:for="status" th:text="未知"></label>-->
<!--                    </div>-->
<!--                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>-->
<!--                </div>-->
<!--            </div>-->
            <div class="form-group">    
                <label class="col-sm-1 control-label" style="width:15%">政治面貌</label>
                <div class="col-sm-4">
<!--                    <input name="politicalOutlook" class="form-control" type="text">-->
                    <select name="politicalOutlook" class="form-control m-b" th:with="type=${@dict.getType('political_outlook')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            <!--</div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">毕业时间：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="graduationTime" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->


            <!--<div class="form-group">-->
                <label class="col-sm-1 control-label" style="width:16%">毕业时间</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control" id="graduationTime" name="graduationTime" placeholder="yyyy-MM-dd">
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-1 control-label" style="width:15%">内设机构</label>
                <div class="col-sm-4">
<!--                    <input name="organiz" class="form-control" type="text">-->
                    <div class="input-group">
                        <input name="deptName" onclick="selectDeptTree()" id="treeName" type="text" placeholder="请选择归属部门" class="form-control">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            <!--</div>-->
            <!--<div class="form-group">    -->
                <label class="col-sm-1 control-label" style="width: 16%">最高学历</label>
                <div class="col-sm-4">
                    <input name="highEducation" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group" style="margin-top:25px">
                <label class="col-sm-1 control-label" style="width: 15%">级别待遇</label>
                <div class="col-sm-4">
                    <input name="levelTreatment" class="form-control" type="text">
                </div>
            <!--</div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">首次任职务职级时间：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="firstJobTime" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->

            <!--<div class="form-group">-->
                <label class="col-sm-1 control-label" style="width: 16%">首次任职务职级时间</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control" id="firstJobTime" name="firstJobTime" placeholder="yyyy-MM-dd">
                    </div>
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-1 control-label" style="width: 15%">首次任职务职级年数</label>
                <div class="col-sm-4">
                    <input name="firstJobYear" class="form-control" type="text">
                </div>
            <!--</div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">评优受奖时间：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="awardTime" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
            <!--<div class="form-group">-->
                <label class="col-sm-1 control-label" style="width: 16%">评优受奖时间</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control" id="awardTime" name="awardTime" placeholder="yyyy-MM-dd">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-1 control-label" style="width: 15%">部门非领导</label>
                <div class="col-sm-4">
                    <input name="deptLeader" class="form-control" type="text">
                </div>
            <!--</div>-->
            <!--<div class="form-group">    -->
                <label class="col-sm-1 control-label" style="width: 16%">推迟退休</label>
                <div class="col-sm-4">
                    <input name="delayRetire" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group" style="margin-top:25px">
                <label class="col-sm-1 control-label" style="width: 15%">原单位</label>
                <div class="col-sm-4">
                    <input name="originalUnit" class="form-control" type="text">
                </div>
            <!--</div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">落编时间：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="offSetTime" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
            <!--<div class="form-group">-->
                <label class="col-sm-1 control-label" style="width: 16%">落编时间</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control" id="offSetTime" name="offSetTime" placeholder="yyyy-MM-dd">
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-top:25px">
                <label class="col-sm-1 control-label" style="width: 15%">退役军人</label>
                <div class="col-sm-4">
<!--                    <input name="veterans" class="form-control" type="text">-->
                    <select name="veterans" class="form-control m-b" th:with="type=${@dict.getType('sys_yes_no')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            <!--</div>-->
            <!--<div class="form-group">    -->
                <label class="col-sm-1 control-label" style="width: 16%">落编原因</label>
                <div class="col-sm-4">
                    <input name="offSetCause" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-1 control-label" style="width: 15%">公务员登记</label>
                <div class="col-sm-4">
<!--                    <div class="radio-box">-->
<!--                        <input type="radio" name="registerStatus" value="">-->
<!--                        <label th:for="registerStatus" th:text="未知"></label>-->
<!--                    </div>-->
                    <select name="registerStatus" class="form-control m-b" th:with="type=${@dict.getType('sys_yes_no')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            <!--</div>-->
            <!--<div class="form-group">    -->
                <label class="col-sm-1 control-label" style="width: 16%">电子编制证号</label>
                <div class="col-sm-4">
                    <input name="electronicNo" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-1 control-label" style="width: 15%">工资总额</label>
                <div class="col-sm-4">
                    <input name="totalWages" class="form-control" type="text">
                </div>
            <!--</div>-->
            <!--<div class="form-group">    -->
                <label class="col-sm-1 control-label" style="width: 16%">调入我省前所在省份</label>
                <div class="col-sm-4">
                    <input name="beforeProvince" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" style="width: 15%">调入我省前工作单位</label>
                <div class="col-sm-4">
                    <input name="beforeJobPlace" class="form-control" type="text">
                </div>
            <!--</div>-->
            <!--<div class="form-group">-->

            </div>
            <div class="form-group">
            <label class="col-sm-1 control-label" style="width: 15%">备注</label>
            <div class="col-sm-9" style="width: 83%">
                <textarea name="remark" class="form-control" rows="3"></textarea>
            </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:src="@{/js/clipboard.min.js}"></script>
    <script th:inline="javascript">
        var prefix = ctx + "system/archivesUserInfo"
        $("#form-archivesUserInfo-add").validate({
            focusCleanup: true
        });

        var sn;
        $.ajax({
            type: "GET",
            url: prefix + "/getSn",
            data: {},
            dataType: "json",
            success: function (data) {
                sn = data.msg;
            }
        });
        /* 用户管理-新增-选择部门树 */
        function selectDeptTree() {
            var treeId = $("#treeId").val();
            var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
            var url = ctx + "system/dept/selectDeptTree/" + deptId;
            var options = {
                title: '选择部门',
                width: "380",
                url: url,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var tree = layero.find("iframe")[0].contentWindow.$._tree;
            var body = layer.getChildFrame('body', index);
            $("#treeId").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            layer.close(index);
        }

        <!-- laydate示例 -->
        layui.use('laydate', function(){
            var laydate = layui.laydate;
            laydate.render({
                elem: '#workTime',
                type: 'date'
            });
            laydate.render({
                elem: '#joinPartyTime',
                type: 'date'
            });
            laydate.render({
                elem: '#graduationTime',
                type: 'date'
            });
            laydate.render({
                elem: '#firstJobTime',
                type: 'date'
            });
            laydate.render({
                elem: '#awardTime',
                type: 'date'
            });
            laydate.render({
                elem: '#offSetTime',
                type: 'date'
            });
            laydate.render({
                elem: '#birthday',
                type: 'date'
            });
            laydate.render({
                elem: '#relativesBirth1',
                type: 'date'
            });
            laydate.render({
                elem: '#relativesBirth2',
                type: 'date'
            });
            laydate.render({
                elem: '#relativesBirth3',
                type: 'date'
            });
            laydate.render({
                elem: '#relativesBirth4',
                type: 'date'
            });
            laydate.render({
                elem: '#relativesBirth5',
                type: 'date'
            });
            laydate.render({
                elem: '#relativesBirth6',
                type: 'date'
            });
            laydate.render({
                elem: '#relativesBirth7',
                type: 'date'
            });
            laydate.render({
                elem: '#relativesBirth8',
                type: 'date'
            });
            laydate.render({
                elem: '#relativesBirth9',
                type: 'date'
            });
            laydate.render({
                elem: '#startTime1',
                type: 'date'
            });
            laydate.render({
                elem: '#endTime1',
                type: 'date'
            });
            laydate.render({
                elem: '#startTime2',
                type: 'date'
            });
            laydate.render({
                elem: '#endTime2',
                type: 'date'
            });
            laydate.render({
                elem: '#startTime3',
                type: 'date'
            });
            laydate.render({
                elem: '#endTime3',
                type: 'date'
            });
            laydate.render({
                elem: '#startTime4',
                type: 'date'
            });
            laydate.render({
                elem: '#endTime4',
                type: 'date'
            });
            laydate.render({
                elem: '#startTime5',
                type: 'date'
            });
            laydate.render({
                elem: '#endTime5',
                type: 'date'
            });
            laydate.render({
                elem: '#startTime6',
                type: 'date'
            });
            laydate.render({
                elem: '#endTime6',
                type: 'date'
            });
            laydate.render({
                elem: '#startTime7',
                type: 'date'
            });
            laydate.render({
                elem: '#endTime7',
                type: 'date'
            });
            laydate.render({
                elem: '#startTime8',
                type: 'date'
            });
            laydate.render({
                elem: '#endTime8',
                type: 'date'
            });
            laydate.render({
                elem: '#startTime9',
                type: 'date'
            });
            laydate.render({
                elem: '#endTime9',
                type: 'date'
            });
        });

        // $("#workTime").datetimepicker({
        //     format: "yyyy-mm-dd",
        //     minView: "month",
        //     autoclose: true
        // });
        // $("#graduationTime").datetimepicker({
        //     format: "yyyy-mm-dd",
        //     minView: "month",
        //     autoclose: true
        // });
        // $("#firstJobTime").datetimepicker({
        //     format: "yyyy-mm-dd",
        //     minView: "month",
        //     autoclose: true
        // });
        // $("#awardTime").datetimepicker({
        //     format: "yyyy-mm-dd",
        //     minView: "month",
        //     autoclose: true
        // });
        // $("#offSetTime").datetimepicker({
        //     format: "yyyy-mm-dd",
        //     minView: "month",
        //     autoclose: true
        // });
        // $("#birthday").datetimepicker({
        //     format: "yyyy-mm-dd",
        //     minView: "month",
        //     autoclose: true
        // });
        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-archivesUserInfo-add').serialize());
            }
        }

        /*档案图片-新增*/
        var clipboard = new ClipboardJS('#startCollection', {
            text: function () {
                checkReturn();
                return 'getphoto;' + sn + ';0;0;0';
            },
        });

        function checkReturn() {
            $.ajax({
                type:"get",
                url: prefix + "/checkReturn",
                data: {sn:sn},
                dataType:"json",
                success:function(result) {
                    if (result.code === 0) {
//                        document.getElementById('startCollection').src="data:image/jpeg;base64," + result.msg;
                        document.getElementById('startCollection').src=result.msg;
                        $("#imgUrl").val(result.msg);
                        $.ajax({
                            type: "GET",
                            url: prefix + "/getSn",
                            data: {},
                            dataType: "json",
                            success: function (data) {
                                sn = data.msg;
                            }
                        });
                    } else {
                        setTimeout("checkReturn()", 1000);
                    }
                },
            })
        }
    </script>
</body>
</html>